Q 1. What exactly is []?

ans 1.<font color = "Blue"> This represent a empty element List in python.</font>

Q2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [2]:
spam = [2,4,6,8,10] #spam named variable stored list containing number.as per question inserting hello in 3rd position .so

In [3]:
spam

[2, 4, 6, 8, 10]

In [5]:
spam.insert(3,'hello')#inserting hello at index number 3

In [6]:
spam

[2, 4, 6, 'hello', 8, 10]

Q Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.


3. What is the value of spam[int(int('3' * 2) / 11)]?

4. What is the value of spam[-1]?

5. What is the value of spam[:2]?

In [7]:
spam =['a','b','c','d']

In [8]:
spam[int(int('3'*2)/11)] #ans 3

'd'

In [9]:
spam[-1] #ans 4

'd'

In [10]:
spam[:2] #ans 5

['a', 'b']

Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

6. What is the value of bacon.index('cat')?

7. How does bacon.append(99) change the look of the list value in bacon?

8. How does bacon.remove('cat') change the look of the list in bacon?

In [11]:
bacon = [3.14,'cat',11,'cat',True]

In [12]:
bacon

[3.14, 'cat', 11, 'cat', True]

In [13]:
bacon.index('cat')# it will give index of 1st first occurance of 'cat'

1

In [14]:
bacon.append(99)# Append will add new item i.e , 99 at the end of list

In [15]:
bacon

[3.14, 'cat', 11, 'cat', True, 99]

In [18]:
bacon.remove('cat')# it will remove the first occurance of cat,not the second one

In [17]:
bacon

[3.14, 11, 'cat', True, 99]

Q 9. What are the list concatenation and list replication operators?

Ans. List concatenation operator is  '+' and list replication operator is '*'.for example

In [20]:
list_1 = [1,2,3,4,5]
list_2 = [6,7,8,9,10]

In [21]:
list_1+list_2 #list concatenation

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
list_1 *3 #list replication

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [25]:
list_1 = [1,2,3,4,5]# another way of concatenating two list with the help of * operator
list_2 = [6,7,8,9,10]   

result = [*list_1, *list_2]

print (result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Q 10. What is difference between the list methods <u>append()</u> and <u>insert()</u>?

append()-->it is a built in fuction,used to append the object at the end of list
insert()-->it is also a built in fuction, used to insert a object at certain position as required. for example,

In [26]:
list_1

[1, 2, 3, 4, 5]

In [27]:
list_1.append(6)# i m adding 6 to the list , it will append at the end of list as shown below

In [28]:
list_1

[1, 2, 3, 4, 5, 6]

In [29]:
list_1.insert(1,0) # insert function first argument is to pass index and second one object that we want to insert.where it inserted after that all other shift there position

In [30]:
list_1

[1, 0, 2, 3, 4, 5, 6]

Q 11. What are the two methods for removing items from a list?

A. the two method are POP() and remove() fumethos to remove item from list. for example

In [31]:
list_2

[6, 7, 8, 9, 10]

In [32]:
list_2.pop()# remove the item from end i.e , -1 index

10

In [33]:
list_2

[6, 7, 8, 9]

In [34]:
list_2.remove(7)# remove the specific item that we want to remove just need to pass that obejct inside remove function .

In [35]:
list_2

[6, 8, 9]

Q 12. Describe how list values and string values are identical.

a. Both are having many identical properties :

    1.In both, we can use index and slicing
    
    2.In both, we can use Len() function to know the length of string or list
    
    3.Replication and concatenation also possible in both.
    
    4.we can loop throught both. 
    
    for example,

In [36]:
list1 =[1,2,3,4,5]

string1 =('1','2','3','4','5')

In [38]:
list1.index(1)

0

In [40]:
string1[0]

'1'

In [41]:
list1[:2]

[1, 2]

In [42]:
string1[:2]

('1', '2')

In [43]:
len(list1)

5

In [44]:
len(string1)

5

In [45]:
list1*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [46]:
string1*2

('1', '2', '3', '4', '5', '1', '2', '3', '4', '5')

In [47]:
list1 + [6,7,8,9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
string1 + ('6','7','8','9')

('1', '2', '3', '4', '5', '6', '7', '8', '9')

In [56]:
for i in list1:
    print (i)

1
2
3
4
5

In [53]:
for j in  string1:
    print(j)

1
2
3
4
5

 Q 13. What's the difference between tuples and lists?

A. 1. tuples are immutatble in nature whereas List are mutable in nature .
    
   2. Syntax of tuples  is -
            tup = (10,20,30)
    
    Syntax of List is- 
            List1 = [10,20,30]

14. How do you type a tuple value that only contains the integer 42?

In [59]:
tup = (42,)

In [60]:
tup

(42,)

Q 15. How do you get a list value's tuple form? How do you get a tuple value's list form?

In [61]:
tup1 =(10,20,30)

In [62]:
tup1

(10, 20, 30)

In [63]:
list(tup1)

[10, 20, 30]

In [66]:
list1 =[40,"lion",3.79,True]

In [67]:
list1

[40, 'lion', 3.79, True]

In [68]:
tuple(list1)

(40, 'lion', 3.79, True)

Q 16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

In [69]:
a = ['contain']

In [70]:
a

['contain']

they contains reference to value 'contain'

Q 17. How do you distinguish between copy.copy() and copy.deepcopy()?

copy.copy() --> contains shallow copy of original list.A shallow copy doesn't create a copy of nested objects, instead it just copies the reference of nested objects.

In [78]:
import copy  # we created a nested list and then shallow copy it using copy() method.This means it will create new and independent object with same content. To verify this, we print the both old_list and new_list.

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.copy(old_list)

print("Old list:", old_list)
print("New list:", new_list)

Old list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
New list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [79]:
import copy

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.copy(old_list)

old_list.append([4, 4, 4])

print("Old list:", old_list)
print("New list:", new_list)

Old list: [[1, 1, 1], [2, 2, 2], [3, 3, 3], [4, 4, 4]]
New list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [80]:
import copy

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.copy(old_list)

old_list[1][1] = 'AA'

print("Old list:", old_list)
print("New list:", new_list)

Old list: [[1, 1, 1], [2, 'AA', 2], [3, 3, 3]]
New list: [[1, 1, 1], [2, 'AA', 2], [3, 3, 3]]

copy.deepcopy()-->A deep copy creates a new object and recursively adds the copies of nested objects present in the original elements.

In [81]:
import copy

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.deepcopy(old_list)

print("Old list:", old_list)
print("New list:", new_list)

Old list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
New list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [82]:
import copy

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.deepcopy(old_list)

old_list[1][0] = 'BB'

print("Old list:", old_list)
print("New list:", new_list)

Old list: [[1, 1, 1], ['BB', 2, 2], [3, 3, 3]]
New list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]