Q 1. . What are the differences between operators and values in the following?

*

'hello'

-87.8

-

/

+

6

Ans 1-color='Blue'>Operators--> a symbol which is responsible for a particular operation between two operands.
    
                   - <-- Subtration Operator
                         
                   * <-- Multiplication Operator
    
                   / <-- Division Operator
                         
                   + <-- Addition Operator
    
 <font color='Blue'> --->  Above all comes under Arihemetic Operators 
    
                  Values ---> Kind of information
                  
                       'hello' <-- String Value
                
                        -87.8 <-- Floating value
    
                         6 <-- Integer Value

Q 2. What is the difference between string and variable?

      spam
     'spam'

Ans 2- <Font color = "Blue"> String --> It is type of Information written inside quotes.
    
                  'spam'
        
   <font color='Blue'> Variable --> It is a name used to store different types of values in it .
          
                     spam 
        
 <font color='Blue'>spam = 'spam' -- We have store string value ,i.e 'spam' , in spam named variable

Q 3.Describe three different data forms.

Ans 3-<font color = "Blue"> Three form of data forms are:-
    
                     1- Integers --type of data form which store posiitve and negative whole number with no decimal point.
                                        for example --> 34 , -96.
    
                     2- String  ---> type of data form which is a collection of one or more characters put inside quotes.
                                         for example --> "Abhishek Tripathi" , "I".
    
                     3- Floating --> type of data form which store number with decimal points.dividing the integer 
                                         and fractional parts.
    
                                         for example --> -87.6 , 144.896

Q 4. What makes up an expression? What are the functions of all expressions?

Ans 4 - <font color = "Blue" > A combination of values, variables, operators are called <u><b>Expression<b></u>. the main fuction of expression to evaluate and display output.

Q 5. In this chapter, assignment statements such as spam = 10 were added. What's the difference between a declaration and an expression?

Ans 5 - <font color ="Blue" > Statement is a complete line of code which perform some action ,while expression is any section of code that evaluates to a value.
              
              for example: 
              
              Print() or a = 6 # Statement
              
              
              7+2 or 7 == 7 # Expression

 Q 6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [6]:
bacon =22 # 22 assign to variable named bacon
bacon +1  # here we are adding 1 to bacon value 1.e bacon =bacon +1 . Output will be 23

23

Q 7. What should the values of the following two terms be?

'spam' + 'spamspam'
'spam' * 3

In [7]:
'spam'+'spamspam'

'spamspamspam'

In [8]:
'spam'*3

'spamspamspam'

<font color ="Blue"> Both are giving same output as shown above i.e, 'spamspamspam'

Q 8.Why is it that eggs is a true variable name but 100 is not?

In [10]:
eggs = 20 # Adsigning 20 to variable name eggs

In [11]:
eggs

20

In [12]:
100 = 20 #Assigning 20 to variable name 100

SyntaxError: cannot assign to literal (<ipython-input-12-7d1a553b93d0>, line 1)

<font color ="Blue"> As shown above 100 shown error ,but eggs executed, So, we come into conclusion that,<u><b> Variable names can't start with number</b>,</u>

Q 9. Which of the following three functions may be used to convert a value to an integer, a floating-point number, or a string?

Ans 9 - <font color ="Blue"> 1. For coverting to integer ,function used is int()
    <font color ="Blue" >2. For coverting to floating-point ,function used is float()
     <font color ="Blue"> 3.For coverting to string ,function used is str()

Q 10.What is the error caused by this expression? What would you do about it?

'I have eaten ' + 99 + ' burritos.'

In [14]:
'I have eaten' + 99 + 'burritos'

TypeError: can only concatenate str (not "int") to str

<font color = "blue">  As its showing Type Error , we have to convert 99 which is a integer type to string type. with the help of str function

In [18]:
'I have eaten'  +  str(99)  +  'burritos' # conveted integer to string

'I have eaten99burritos'